<mat-nav-list>
    
    <h2 matSubheader>Cadastros</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">&nbsp;&nbsp;&nbsp;Workflows</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">&nbsp;&nbsp;&nbsp;????</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">&nbsp;&nbsp;&nbsp;????</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Consultas</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">&nbsp;&nbsp;&nbsp;????</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">&nbsp;&nbsp;&nbsp;????</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">&nbsp;&nbsp;&nbsp;????</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">&nbsp;&nbsp;&nbsp;????</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">&nbsp;&nbsp;&nbsp;????</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">&nbsp;&nbsp;&nbsp;????</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">&nbsp;&nbsp;&nbsp;????</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">&nbsp;&nbsp;&nbsp;????</a>

</mat-nav-list>